@model BeadKeychainDesignPlatform.Models.ViewModels.DetailsBead
@{
    ViewBag.Title = "Details";
}
<div>
    <a href="/Bead/List">Back to all the beads</a>
</div>
<div>
    <a href="/Bead/Edit/@Model.specificBead.BeadId">Update</a>
</div>
<div>
    <a style="color:#ab2020;" href="/Bead/DeleteConfirm/@Model.specificBead.BeadId">Delete</a>
</div>
<h2>@Model.specificBead.BeadName</h2>
<p>Description: @Model.specificBead.BeadDescription</p>
<p>Colour: @Model.specificBead.ColourName</p>
<p>Colour Property: @Model.specificBead.ColourProperty</p>

<div>
    <h2>This bead is in these keychains </h2>
    @foreach(var keychain in Model.associatedKeychain)
            {
                <a href="/Keychain/Details/@keychain.KeychainId">@keychain.KeychainName</a>
            }
</div>