@model BeadKeychainDesignPlatform.Models.ViewModels.UpdateBead
@{
    ViewBag.Title = "Edit";
}
<div class="menuLink">
    <a href="/Bead/Details/@Model.SelectedBead.BeadId">Back</a>
</div>
<div class="create">
    <h2>Update Bead</h2>

    <form action="/Bead/Update/@Model.SelectedBead.BeadId" method="POST" enctype="multipart/form-data">
        <div style="display:none;">
            @* Pass through the bead ID *@
            <input type="text" name="BeadId" value="@Model.SelectedBead.BeadId" />
        </div>
        <div>
            <label>Bead Name:</label>
            <input name="BeadName" type="text" value="@Model.SelectedBead.BeadName" />
        </div>
        <div>
            <label>Bead Description:</label>
            <input name="BeadDescription" type="text" value="@Model.SelectedBead.BeadDescription" />
        </div>
        <div>
            <label>Bead Colour Id:</label>
            <select name="ColourId">
                https://localhost:44386/Bead/Details/15
                @foreach (var colour in @Model.beadcoloursOptions)
                {
                    var selected = "";
                    <option value="@colour.ColourId" @selected>@colour.ColourProperty @colour.ColourName</option>

                }
            </select>
        </div>
        <div>
            <label>Bead Picture:</label>
            <!--input type="file" name="BeadPic" /-->
            <input name="BeadPicture" type="text" value="@Model.SelectedBead.BeadPicture" />
        </div>
        <div>
            <input type="submit" value="Update Bead" id="button"/>
        </div>

    </form>
</div>
    <style>
        .menuLink {
            margin: 2rem 0;
        }

        .menuLink a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
        .create {
            border: dashed 4px #000;
            margin: 5em;
            padding: 3em;
            background-color: #f1ecff;
        }
        #button {
            background-color: #a8a0ff;
            border: solid 1px #a8a0ff;
            border-radius: 5px;
            color:white;
            font-weight:bold;
        }
    </style>
