@model BeadKeychainDesignPlatform.Models.BeadDto
@{
    ViewBag.Title = "Edit";
}

<h2>Update Bead</h2>

<form action="/Bead/Update/@Model.BeadId" method="POST">
    <div style="display:none;">
        @* Pass through the bead ID *@
        <input type="text" name="BeadId" value="@Model.BeadId" />
    </div>
    <div>
        <label>Bead Name:</label>
        <input name="BeadName" type="text" value="@Model.BeadName" />
    </div>
    <div>
        <label>Bead Description:</label>
        <input name="BeadDescription" type="text" value="@Model.BeadDescription" />
    </div>
    <div>
        <label>Bead Colour Id:</label>
        <input name="ColourId" type="number" value="@Model.ColourName" />
    </div>
    <div>
        <label>Bead Picture:</label>
        <input name="BeadPicture" type="text" value="@Model.BeadPicture" />
    </div>
    <div>
        <input type="submit" value="Update Bead" />
    </div>

</form>
